:root {
    --primary-color-pink: #b63787;
    --secondary-color-black: #000000;
    --background-color-grey: #282a2c;
    --modal-background-color: #030101be;
    --white: #ffffff;
    --info-text-bright-green: #88ff00;
  }